.menu {
  padding: 100px 80px 120px;
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}



.menu__title {
  display: flex;
  justify-content: center;
  max-width: 780px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  box-sizing: border-box;
  margin: 0 auto;
}



.menu__subtitle {
  display: flex;
  justify-content: center;
  max-width: 780px;
  font-family: "Noto Serif", 'Times New Roman', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 24px auto 0 auto;
  text-align: center;
  box-sizing: border-box;
}



.menu__cards {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
  margin-top: 100px;
}